.benefit-container {
    justify-content: space-between;
}

.benefit-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.benefit-list__item {
    width: 270px;
}

.benefit-list__theme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    height: 120px;
    width: 270px;

    background-color: var(--team-button-background-color);
}

.benefit-list__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.benefit-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}