.list-portfolio {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: space-between;

    width: 575px;
}

.portfolio-item-button {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 4px;

    min-width: 73px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--secondary-text-color);
    background: var(--team-button-background-color);
    border: 1px solid transparent;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    
    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        outline: transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-list-item .project-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);
}

.project-list-item .project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.project-list-item .border {
    padding: 20px 24px;
    border-top: none;

    border: 1px solid var(--portfolio-border-color);
}

.project-list-item {
    flex-basis: calc((100% - 60px) / 3);
}

.project-box {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    overflow: auto;

    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;

    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
}

.project-list-link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        outline: transparent;
    }
}

.project-list-link:hover .project-overlay,
.project-list-link:focus .project-overlay {
    transform: translateY(0);
    outline: transparent;
}