.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    min-width: 216px;
    height: 50px;

    color: var(--white-color);
    background: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    transition: background-color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

&:hover,
&:focus {
    background-color: var(--button-background-color);
    outline: transparent;
}
}
.button--size {
    min-width: 200px;
}
