.header {
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;
    // @media screen and (max-width: 767px) {
    //     padding-top: 16px;
    //     padding-bottom: 16px;
    // }
}
.nav{
    display: none;
    // tablet
    @media screen and (min-width: $tablet) {
        display: block;
        margin-left: 88px;
        }
     // desktop
     @media screen and (min-width: $desktop) {
    margin-left: 93px;
     }
}
.menu-list {
    display: flex;
    gap: 50px;
}

.menu-list__item {
    position: relative;
}

.menu-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 100%;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);

    &:hover,
        &:focus {
            color: var(--accent-color);
            outline: transparent;
        }
}

.contact-list {
    display: none;
    // tablet
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        display: flex;
        margin-left: auto;
        flex-direction: column;
        gap: 10px;
        }
                // desktop
                @media screen and (min-width: $desktop) {
            display: flex;
        margin-left: auto;
                    gap: 30px;
                }
}

.contact-list__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    transition: color 250ms var(--timing-function);

    &:hover,
        &:focus {
            color: var(--accent-color);
            outline: transparent;
        }
 // tablet
 @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 12px;
            line-height: calc (14 / 12);
 }
    }

.contact-list__icon {
    margin-right: 10px;

    fill: currentColor;
}
