
.logo {
    display: block;

    color: var(--accent-color);

    font-family: var(--secondary-font);
    font-weight: 700;
font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.03em;
        @media screen and(max-width: 767px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        // desktop
            @media screen and (min-width: $desktop) {
                font-size: 26px;
                line-height: calc(31 / 26);
            }

}

  .logo--head-last-word {
      color: var(--black-color);
  }

  .logo--foot-last-word {
      color: var(--white-color);
  }

